.wrapper {
  width: 80%;
  margin: auto;
  position: relative;
  top: 100px;
}

.heading {
  margin-bottom: 30px;
  width: 60%;
  float: left;
}

.details {
  font-size: 1em;
  display: inline-block;
  width: 300px;
  float: left;
}

.searchBar {
  float: left;
  display: inline-block;
  width: 65%;
}

.sorting {
  display: inline-block;
}

.breweryList {
  padding-top: 200px;
}

.sortingFiltering {
  float: left;
  position: relative;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
