.wrapper {
  width: 80%;
  margin: auto;
  position: relative;
  top: 100px;
  /*border: 1px solid red;*/
}

.heading {
  /*line-height: 1em;*/
  margin-bottom: 40px;
}

.details {
  line-height: 0;
}

.filterBrewery {
  position: relative;
  display: inline-block;
  float: right;
  width: 300px;
  vertical-align: top;
}