.wrapper {
  width: 80%;
  margin: auto;
  position: relative;
  top: 100px;
}

.title {
  margin-bottom: 20px;
  line-height: .8em;
}

.details {
  font-size: 1em;
  display: inline-block;
  width: 300px;
  float: left;
}

.searchBar {
  float: left;
  display: inline-block;
  width: 65%;
}

.sorting {
  display: inline-block;
}

.beerList {
  padding-top: 110px;
}

.sortingFiltering {
  float: left;
  position: relative;
  margin: 50px 0px 0px 0px;
  width: 100%;
}



