.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  top: 0;
  padding: 20px 75px;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  /*background-color: tomato;*/
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.075);

  z-index: 1000;
}

.transparentNavbar {
  composes: navbar;
  background: none;
  border-bottom: none;
  box-shadow: none;

}

.logo {
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: black;
  /*font-weight: bold;*/
}

.lightLogo {
  composes: logo;
  color: black;
}

.link {

}

.testing {
  float: left;
  margin-right: 250px;
}

.menu {
  width: 100px;
  margin-right: 50px;
  padding: 0;
  float: right;
}

.head {
  width: 20%;
  float: left;
}
