.beerItem {

}

.cartRow {
	position: absolute;
  display: inline;
  float: left;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  width: 400px;
  padding-bottom: 10px;
  height: 100px;
}

button {
  font-size: 12px; 
  font-size: 1.2rem; 
  padding: 5px 15px; 
  border-radius: 25px; 
  border: none; 
  display: inline-block; 
  color: #2e2e2e; 
  text-decoration: none; 
  background-color: rgba(0, 0, 0, 0.05); 
  margin: 2px 0; 
  margin-top: 4px;
}

button:hover { 
  text-decoration: none; 
  background-color: rgba(0, 0, 0, 0.1); 

}

button:focus { 
  outline: none; 
}

button:after { 
  width: 0; height: 0; 
  border-left: 4px solid transparent; 
  border-right: 4px solid transparent; 
  border-bottom: 4px solid transparent; 
  content: ""; 
  position: relative; 
  top: -10px; 
  right: -4px; 
}

/*.wrapper {
  position: relative;
  padding-top: 1px;
  margin-bottom: 2px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}*/

.details p{
  margin: 0 auto;
  width: 200px;
  font-size: 10pt;
  float: left;
  display: inline;

}

p {
  margin: 0 auto;
  width: 100px;
  font-size: 10pt;
  float: left;
  display: inline;
}

.movingUp {
  margin-bottom: 70px;
}