.wrapper {
  float: right;
  position: relative;
  margin: 0;
}

button {
  text-align: center;
  font-size: 12px; 
  padding: 5px 15px; 
  width: 115px;
  border-radius: 25px; 
  border: none; 
  color: rgba(0, 0, 0, 0.5); 
  text-decoration: none; 
  background-color: rgba(0, 0, 0, 0.05); 
  margin: 10px 0px 10px 5px; 
}

button:hover { 
  text-decoration: none; 
  background-color: rgba(0, 0, 0, 0.1); 
}

button:focus { 
  outline: none; 
  background-color: rgba(0, 0, 0, 0.3);
}

button:after { 
  width: 0; height: 0; 
  border-left: 4px solid transparent; 
  border-right: 4px solid transparent; 
  border-bottom: 4px solid transparent; 
  top: -10px; 
  right: -4px; 
}
