.wrapper {
  width: 50%;
  margin: 0px 40px 0px 0px;
  float: left;
  position: relative;
}

button {
  font-size: 12px; 
  font-size: 1.2rem; 
  padding: 5px 15px; 
  border-radius: 25px; 
  border: none; 
  color: #2e2e2e; 
  text-decoration: none; 
  background-color: rgba(0, 0, 0, 0.05); 
  margin: 10px 5px 10px 0px; 
}

button:hover { 
  text-decoration: none; 
  background-color: rgba(0, 0, 0, 0.1); 

}

button:focus { 
  outline: none; 
}

button:after { 
  width: 0; height: 0; 
  border-left: 4px solid transparent; 
  border-right: 4px solid transparent; 
  border-bottom: 4px solid transparent; 
  content: ""; 

  top: -10px; 
  right: -4px; 
}

button .asc:after { 
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent; 
  border-right: 4px solid transparent; 
  border-top: 4px solid #2e2e2e; 
  content: ""; 

  top: 11px; 
  right: -4px; 
}

button .desc:after { 
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent; 
  border-right: 4px solid transparent; 
  border-bottom: 4px solid #2e2e2e; 
  content: ""; 

  top: -9px; 
  right: -4px; 
}
