.home {
    height: 100%;
    max-width: 100%;
    background: 
      url(https://pixabay.com/get/e037b70929f21c3e955e4001e64f4f90fe76e6dd1fb8174294f8c0/beer-926616.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
  color: white !important;
}

.container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchField {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.register {
  top: 0;
  right: 0;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

.logIn {
  top: 0;
  right: 0;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

input {
  margin: 0 auto;
}
