.home {
    height: 100%;
    max-width: 100%;
    background: 
      url(https://cnt-01.content-na.drive.amazonaws.com/cdproxy/templink/39ofqVdTnrFZm25NpYkJAXtGDMKxA8bvAo_9B-EQX4EpX92IB?viewBox=3360%2C2240) no-repeat center center fixed;
    background-size: cover;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
  color: white !important;
}

.container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchField {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.register {
  top: 0;
  right: 0;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

.logIn {
  top: 0;
  right: 0;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

input {
  margin: 0 auto;
}

h3:hover, h3:focus {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}