.container {
  display: block;
  transition: background-color 0.3s ease;
  float: left;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  opacity:.9;
  height: 60px;
  width: 60px;
  margin: 3px;
  position: relative;
  box-shadow: 0 4px 2px rgba(0,0,0,0.175);
}

.container:hover {
  opacity: 1;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 2px;
}

.image {
  padding-top:5px;
  display: block;
  width: 100%;
  /*height: 50%;*/
  margin: auto;
}

.xButtonImage {
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	top: 4px;
	right: 4px;
}



/*.deleteButton {
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	color: blue;
}*/
/*.deleteButton:hover {
    text-decoration: underline;
    color:orange;
}*/